<%= form_tag(discipline_path(discipline), class: 'form-inline', method: :get, id: 'filter-disciplines-form') do %>
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title black-text"><%= t(:semester) %></span>
        <p>
          <%= select_tag 'semester_id', options_from_collection_for_select(Semester.all, 'id', 'name', semester.id), {class: 'form-control'} %>
        </p>
      </div>
      <div class="card-action">
        <%= link_to t(:show), '', onclick: '$("#filter-disciplines-form").submit(); return false;' %>
      </div>
    </div>
<% end %>