<div class="row">
  <div class="col-md-2">
    <%= bootstrap_form_tag(url: update_proportions_relationship_path(relationship), method: :post, html: {class: 'form-horizontal total-form'}) do |f| %>
        <p>
        <% Visit.kinds.each do |kind, index| %>
            <%= f.number_field 'total['+kind.to_s+'_per_each]', label: 'Per '+kind.to_s, value: relationship.proportions["#{kind.to_s}_per_each".to_sym] %>
        <% end %>
        </p>
        <p>
          <% Visit.kinds.each do |kind, index| %>
              <%= f.number_field 'total['+kind.to_s+'_total]', label: 'Total '+kind.to_s, value: relationship.proportions["#{kind.to_s}_total".to_sym] %>
          <% end %>
        </p>
        <%= f.submit 'Update', :name => nil %>
    <% end %>
  </div>
  <div class="col-md-10">
  </div>
</div>