<div class="card hoverable">
  <div class="card-content">
    <span class="card-title black-text"><%= t(:new) %> <%= t(:group) %></span>
  </div>
</div>

<%= render 'form' %>

<%= link_to t(:back), groups_path, class: 'btn btn-flat waves-effect waves-teal' %>
