development: &default
  adapter: postgresql
  database: <%= Rails.application.secrets.database["name"] %>
  username: <%= Rails.application.secrets.database["username"] %>
  password: <%= Rails.application.secrets.database["password"] %>
  host: <%= Rails.application.secrets.database["host"] %>
  encoding: utf8
  min_messages: warning
  pool: 2
  timeout: 5000

production:
  <<: *default

staging:
  <<: *default

test:
  <<: *default
