ul.side-nav.fixed li:hover {
  background-color: rgba(0, 0, 0, 0);
}

ul.side-nav.fixed li.active {
  background-color: rgba(0, 0, 0, 0.05);
}

nav {
  margin-bottom: 30px;
}

#new_user button {
  margin-right: 20px;
}

.remember-me-cont {
  padding-right: 20px;
}

.selectize-input input {
  height: 18px !important;
}