.visits {
  margin-top: 10px;
  td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    a {
      display: block;
    }
  }
  .presence, .mark {
    width: 30px;
  }
  .mark {
    input {
      width: 24px;
      border: none;
      background-color: #fcf8e3;
    }
  }
  th {
    input {
      width: 70px;
      border: none;
      background-color: transparent;
    }
  }
  .delimiter {
    border-right: 2px solid black;
  }
  tr:hover {
    background-color: white;
  }
}

.error {
  background-color: red;
}