.visits {
  margin-top: 10px;
  td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    a {
      display: block;
    }
  }
  .presence, .mark {
    //width: 30px;
  }
  .mark {
    input {
      width: 24px;
      border: none;
      //background-color: #fcf8e3;
    }
  }
  th {
    input {
      //width: 70px;
      border: none;
      background-color: transparent;
    }
  }
  .delimiter {
    border-right: 2px solid black;
  }
  tr:hover {
    background-color: white;
  }
}

.homework {
  .mark {
    //width: 50px;
    form {
      float: left;
      // width: 20px;
    }
  }
}

.error {
  background-color: red;
}

#total-cont {
  .visits {
    .mark5 {
      background-color: #b3f445;
    }
    .mark4 {
      background-color: #d99400;
    }
    .mark3 {
      background-color: #d92d00;
    }
    td {
      text-align: center;
    }
    th {
      padding: 0px 5px;
    }
  }
  .total-form {
    .form-group {
      width: 100px;
      display: inline-block;
      margin-left: 0px;
      margin-right: 5px;
      label {
        font-size: 10px;
        text-align: left;
      }
    }
  }
}

.view-attend {
  float: right;
}
.student-name{
  a {
    color: white;
  }
}

@media only screen and (max-device-width: 480px) {
  .student-name {
    max-width: 100px !important;
    min-width: 100px !important;
    width: 100px !important;
    word-wrap: break-word;
    font-size: 10px;
    white-space: normal !important;
  }
  .sticky-intersect th {
    font-size: 10px;
    max-width: 100px !important;
    min-width: 100px !important;
    width: 100px !important;
  }
  .visits {
    font-size: 10px;
  }
  .visits td {
    padding-left: 5px;
    padding-right: 5px;
  }
  .edit_visit {
    width: 50px !important;
  }
}