@media print {
  .ticket {
    page-break-after: always;
  }
}
.ticket {
  footer, header {
    text-align: center;
    font-size: 10px;
  }
  .line {
    border-bottom: 1px solid black;
  }
  .question {
    margin-top: 15px;
    font-size: 15px !important;
    line-height: 16px !important;
  }
  ul {
    list-style-type: circle !important;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    li {
      list-style-type: circle !important;
    }
  }
}