<div class="card hoverable">
  <div class="card-content">
    <span class="card-title black-text"><%=t :archive %></span>
  </div>
</div>
<%= grid(@relationships_grid, upper_pagination_panel: true, class: 'striped') do |g|

  g.column name:  t(:semester), attribute: 'year',  assoc: :semester do |rel|
    rel.semester.name
  end

  g.column name:  t(:discipline), attribute: 'title',  assoc: :discipline do |rel|
    rel.discipline.title
  end

  g.column name:  t(:group), attribute: 'title',  assoc: :group do |rel|
    rel.group.title_year
  end

  g.column do |rel|
    link_to(t(:view), relationship_path(rel, tab: 'labs'))
  end
end -%>