server {
  listen {{ server_name }}:80;

  server_name {{ server_name }};

  passenger_enabled on;
  passenger_app_env {{ passenger_env }};
  passenger_user {{ app_user }};
  passenger_group {{ app_user }};

  location ~ ^/assets/ {
    expires 1y;
    add_header Cache-Control public;

    add_header ETag "";
    break;
  }

  proxy_set_header  X-Real-IP  $remote_addr;
  proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header Host $http_host;
  proxy_set_header  X-Forwarded-Proto $scheme;

  root /home/{{ app_user }}/app/current/public;
}