  <li><%= link_to t(:edit_account), edit_user_registration_path, class: 'waves-effect waves-light' %></li>
  <li><%= link_to t(:sign_out), destroy_user_session_path, :method=>'delete', class: 'waves-effect waves-light' %></li>